<!DOCTYPE html>
<html lang="{{ str_replace('_', '-', app()->getLocale()) }}">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://cdn.tailwindcss.com"></script>
        <title>AmbitionsCoaching</title>
    </head>
    <body>
        <header>
            <div class="flex bg-white">
                <!-- burger navigation -->
                <nav role="navigation">
                    <div id="menuToggle" class="block relative top-50 left-50 z-1 ">
                      <!--
                      A fake / hidden checkbox is used as click reciever,
                      so you can use the :checked selector on it.
                      -->
                      <input type="checkbox" class="block w-[40px] h-[32px] absolute -top-7 -left-5 z-2 opacity-0"/>
                      
                      <!--
                      Some spans to act as a hamburger.
                      
                      They are acting like a real hamburger,
                      not that McDonalds stuff.
                      -->
                      <span class="bg-black block w-[33] h-[4] mb-5 relative rounded z-1"></span>
                      <span class="bg-black block w-[33] h-[4] mb-5 relative rounded z-1"></span>
                      <span class="bg-black block w-[33] h-[4] mb-5 relative rounded z-1"></span>
                      
                      <!--
                      Too bad the menu has to be inside of the button
                      but hey, it's pure CSS magic.
                      -->
                        <ul id="menu" class="flex flex-col items-center">
                            
                            <a href="#"><li><img src="/images/tarifs/2.png" class="w-36"></li></a>

                            <a href="{{ route('apropos') }}"><li class="my-2 text-black">A propos</li></a>
                            <a href="{{ route('tarifs') }}"><li class="my-2 text-black">Tarifs</li></a>
                            <a href="{{ route('blog') }}"><li class="my-2 text-black ">Blog</li></a>
                            <a href="{{ route('avis') }}"><li class="my-2 text-black">Avis</li></a>
                            <a href="{{ route('contact') }}"><li class="mt-2 mb-6  text-black font-bold">Contact</li></a>
                            <div class="flex">
                                <img src="/images/picto/icons8-search-58.png" alt="" class="w-6 h-6 mx-2 mt-2">
                    
                                <a href="{{ route('contact') }}" class="">
                                    <div class="flex w-50 text-white border-red rounded bg-red-500 px-4 pt-2 pb-3">
                                    <img src="/images/picto/phone.png" class="w-6 mr-2">
                                    <p class="text-white">+800 100 900</p>
                                    </div>
                                </a>
                            </div>

                            
                        </ul>
                    </div>
                </nav>
                
                <div id="container_logo" class="">
                    <a href="{{ route('home') }}" ><img src="" alt="" /></a>
                </div>

                <!-- menu de navigation desktop-->
                <div class="flex hidden">
                    <a href="{{ route('apropos') }}" class="text-black">A propos<br/>
                    <div class=" w-2 h-2 rounded bg-black-900 hover:bg-red-700"></div></a>

                    <a href="{{ route('tarifs') }}" class="text-black">Tarifs<br/>
                        <div class=" w-2 h-2 rounded bg-black-900 hover:bg-red-600"></div></a>

                    <a href="{{ route('blog') }}" class="text-black">Blog<br/>
                        <div class=" w-2 h-2 rounded hover:bg-red-600"></div></a>
                    
                    <a href="{{ route('avis') }}" class="text-black">Avis<br/>
                        <div class=" w-2 h-2 rounded bg-black-900 hover:bg-red-600"></div></a>

                    <a href="{{ route('contact') }}" class="text-black">contact<br/>
                        <div class=" w-2 h-2 rounded bg-red-600"></div></a>

                    <img src="/images/picto/icons8-search-58.png" alt="" class="">
                    
                    <a href="{{ route('contact') }}" class="">
                        <div class="flex w-50 text-white border-red rounded-full bg-red-600 px-4 pt-2 pb-3">
                            <img src="/images/picto/phone.png" class="w-6 mr-2">
                            <p class="text-white">+800 100 900</p>
                        </div>
                    </a>
                </div>
            </div>
        </header>





        <main>
            <div id="section_1" class="flex flex-col bg-gray-100 items-center">
                <p class="text-lg text-gray-500 font-bold mt-28 mb-4">Contact</p>
                <h1 class="text-4xl font-bold lg:text-6xl text-black mx-8 mb-44 justify-center">De l'idée au lancement de ton projet, j'attend ton message pour t'accompagner</h1>
                
            </div>

            <div id="section_2" class="flex flex-col bg-white px-8 py-8 items-center">
                <div class="flex flex-col lg:flex-row">
                    <div class="mx-3 my-6 mr-20 lg:mb-20">
                        <h2 class="text-3xl font-bold mb-6">Coordonnées</h2>
                        <p class="mb-8 text-sm">N’hésites pas à m’écrire si tu as des questions, si tu hésites.
                        </p>

                        <div class="flex flex-row border-b border-1 border-gray-400 pb-4 pt-4">
                            <img src="/images/picto/location.png" alt="" class="w-8 h-8 mr-3">
                            <div>
                                <p class="">AUSTRALIA OFFICE</p>
                                <p class="font-bold text-lg">Paris - Laval - France Entière</p>
                            </div>
                        </div>
       
                        <div class="flex flex-row border-b border-1 border-gray-400 pb-4 pt-4">
                            <img src="/images/picto/phone.png" alt="" class="w-8 h-8 mr-3">
                            <div>
                                <p class="">TELEPHONE</p>
                                <p class="font-bold text-lg">+33 6 14 22 23 30</p>
                            </div>
                        </div>
        
                        <div class="flex flex-row border-b border-1 border-gray-400 pb-4 pt-4">
                            <img src="/images/picto/email.png" alt="" class="w-8 h-8 mr-3">
                            <div>
                                <p class="">E-MAIL</p>
                                <p class="font-bold text-xl">coachingambitions@gmail.com</p>
                            </div>
                        </div>
                    </div>

                    <div class="px-4 py-4">
                        <div class="bg-gray-100 flex flex-col">
                            <form action="" method="POST" class="mx-6">
        
                                <input type="text" name="prenom" value="  Prénom*" class="w-full text-black text-sm bg-white border-white pt-1 pb-2 mt-12 border-b border-white ">
                                <input type="mail" name="email" value="  Email*" class="w-full text-black text-sm bg-white border-white pt-1 pb-2 mt-6 mb-6">
                                <textarea id="question" class="w-full text-black text-sm bg-white mb-6" rows="5" >  Ta question*</textarea>
                                <button class="w-full flex flex-col items-center text-white bg-red-600 pt-2 pb-3 mb-12">
                                    <div class="flex flex-row">
                                        <p>Envoyer</p>
                                        <img src="/images/picto/right-arrow.png" alt="" class="w-6 mt-1 ml-2">
                                    </div>
        
                                </button>
                                
                            </form>
        
                        </div>

                    </div>
                </div>

                <div class="flex flex-col px-8 py-8 lg:flex-row">
                    <div class="mx-3 my-6 ">
                        <h2 class="text-3xl font-bold mb-6">Darlow Paris</h2>
                        
                        <div class="flex flex-row border-b border-1 border-gray-400 pb-4 pt-4 ">
                            <img src="/images/picto/location.png" alt="" class="w-8 h-8 mr-3">
                            <div>
                                <p class="">UK OFFICE</p>
                                <p class="font-bold text-lg">2 rue Vivienne, 75002 Paris
                                </p>
                            </div>
                        </div>       
                        <div class="flex flex-row border-b border-1 border-gray-400 pb-4 pt-4">
                            <img src="/images/picto/phone.png" alt="" class="w-8 h-8 mr-3">
                            <div>
                                <p class="">TELEPHONE</p>
                                <p class="font-bold text-lg">+33 6 14 22 23 30</p>
                            </div>
                        </div>
                    </div>

                    <div class="mx-4 lg:ml-12">
                        <img src="/images/picto/stars.png" alt="" class="w-20">
                        <h3 class="text-2xl font-bold mt-12 mb-3">"Pauline est vraiment à l'écoute"</h3>
                        <p>Pauline est vraiment à l'écoute, elle m'a permis de développer mon activité. Je recommande fortement
                        </p>
    
                        <div class="flex flex-col  flex-row mt-6">
                            <img src="/images/contact/testimonials_01.jpg" alt="" class="rounded-full w-12 h-12 mr-4">
                            <div class="mb-12">
                                <p class="text-sm mt-1">LOUIS</p>
                                <p class="text-sm">PHOTOGRAPHE</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>   
        </main>




        <footer class="bg-black h-auto pt-2">
            

            <div class="flex flex-col ml-6 mt-20 lg:flex-row" >
                <div>
                    <img src="/images/LOGO-50K-POUR-CENT-4.png" class="lg:w-48 ">
                </div>
                <div class="text-white flex flex-col mx-20">
                    <p class="text-bold mb-6">Product</p>
                    <a href="" id="" class="text-xs mb-2">Clients</a>
                    <a href="" id="" class="text-xs mb-2">History</a>
                    <a href="" id="" class="text-xs mb-2">Team</a>
                    <a href="" id="" class="text-xs mb-2">FAQ</a>
                    <a href="" id="" class="text-xs mb-16">Get Quote</a>
                </div>

                <div class="text-white flex flex-col mx-20">
                    <p class="text-bold mb-6">Company</p>
                    <a href="" id="" class="text-xs mb-2">Clients</a>
                    <a href="" id="" class="text-xs mb-2">History</a>
                    <a href="" id="" class="text-xs mb-2">Team</a>
                    <a href="" id="" class="text-xs mb-2">FAQ</a>
                    <a href="" id="" class="text-xs mb-16">Get Quote</a>
                </div>

                <div class="text-white flex flex-col ml-12 mr-4 lg:w-4/12">
                    <p class="mb-6 font-bold">Suivez-moi sur les réseaux sociaux</p>
                    <div class="flex mb-6">
                        <img src="/images/picto/" alt="" class="">
                        <img src="/images/picto/instagram.png" alt="" class="w-6">
                    </div>
                    <div class="flex mb-6">
                        <img src="/images/picto/phone.png" class="w-9">
                        <p class="text-white font-bold">+33 6 14 22 23 30</p>
                    </div>
                    <p class="text-xs mb-8">Subscribe to our newsletter today to receive updates on the latest news, releases and special offers. We respect your privacy. Your information is safe.</p>

                    <form action="" method="POST" class="mr-4">

                        <input type="text" name="prenom" value="Prénom" class="w-80 text-white text-sm bg-black border-white pt-2 pb-3 mt-2 border-b border-white ">
                        <input type="mail" name="email" value="Your E-mail" class="w-80 text-white text-sm bg-black border-white pt-2 pb-3 mt-2 border-b border-white ">
                        <button class="w-36 text-white border-2 rounded-full bg-black border-white rounded-full px-8 pt-2 pb-3 mt-2 mb-8">Go </button>
                        
                    </form>




                </div>

                

            </div>

            <p class="text-gray-400 text-xs pb-24">©2022 50Kpourcentcoaching. All rights reserved by <a href="" class="font-bold">Darlow Paris</a> | <a href="" class="font-bold">Mentions légales</a> </p>

        </footer>


    </body>